{block content}
    <div class="text-center">
        <h2>Pavel Mlejnek <a n:if="$user->getIdentity()->getId() == $profile->id" n:href=":Profile:edit" class="btn btn-success"><i class="fa fa-cog"></i> Nastavení</a></h2>
        <p>{$profile->email}</p>
        <p>{$profile->about}</p>

        <ul n:if="$profile->facebook_id" class="list-inline">
            <li><a href="http://www.facebook.com/{$profile->facebook_id}" class="btn btn-facebook btn-lg"><i class="fa fa-facebook-official"></i> Facebook</a></li>
        </ul>
    </div>
{/block}
