{block title}{_strings.profile.edit.title}{/block}


{block content}
    <div class="row">
        <h1>{include title}</h1>
        <ul class="nav nav-pills nav-stacked col-md-3">
            <li class="active"><a n:href="this#profile" data-toggle="pill">Profil</a></li>
            <li><a n:href="this#password" data-toggle="pill">Změna hesla</a></li>
        </ul>
        <div class="tab-content col-md-9">
            <div class="tab-pane active" id="profile">
                <h3>Profil</h3>
                <p>Změna profilových údajů.</p>
                {form editProfile, class => 'form-horizontal'}
                    <ul class="errors" n:if="$form->hasErrors()" style="color:red;">
                        <li n:foreach="$form->errors as $error">{$error}</li>
                    </ul>
                    <div class="form-group">
                        {label name /}
                        {input name, class => 'form-control'}
                    </div>
                    <div class="form-group">
                        {label surname /}
                        {input surname, class => 'form-control'}
                    </div>
                    <div class="form-group">
                        {label about /}
                        {input about, class => 'form-control'}
                    </div>
                    <div class="form-group">
                        {input send, class => 'btn btn-block btn-lg btn-success'}
                    </div>
                {/form}
            </div>
            <div class="tab-pane" id="password">
                <h3>Změna hesla</h3>
                {form changePassword, class => 'form-horizontal'}
                    <ul class="errors" n:if="$form->hasErrors()" style="color:red;">
                        <li n:foreach="$form->errors as $error">{$error}</li>
                    </ul>
                    <div class="form-group">
                        {label old_password /}
                        {input old_password, class => 'form-control'}
                    </div>
                    <div class="form-group">
                        {label new_password /}
                        {input new_password, class => 'form-control'}
                    </div>
                    <div class="form-group">
                        {label new_password_repeat /}
                        {input new_password_repeat, class => 'form-control'}
                    </div>
                    <div class="form-group">
                        {input save, class => 'btn btn-block btn-lg btn-success'}
                    </div>
                {/form}
            </div>
        </div>
    </div>
{/block}
