$alert-danger-bg: #f2838f;
$alert-danger-text: #a94442;

$alert-success-bg: #b9df90;
$alert-succes-text: #3c763d;

$alert-warning-bg: #ffdd87;
$alert-warning-text: #8a6d3b;

.procvic {
  .alert {
    border: 0;
  }
}
