@import '../bower/bootstrap-sass/assets/stylesheets/bootstrap/mixins/buttons';

$btn-success-bg: #7aca10;

$btn-facebook-bg: #3b5999;
$btn-facebook-color: #fff;

$btn-gplus-bg: #d34836;
$btn-gplus-color: #fff;

.procvic {
  .btn {
    border: 0;
  }

  .btn-facebook {
    @include button-variant($btn-facebook-color, $btn-facebook-bg, darken($btn-facebook-bg, 5%));
  }

  .btn-gplus {
    @include button-variant($btn-gplus-color, $btn-gplus-bg, darken($btn-gplus-bg, 5%));
  }
}
