.discussion {
  background: #ddd;
  margin-top: 40px;

  .info-panel {
    padding: 20px 20px 0;

    .open {
      display: block;
      float: left;
      font-size: 1.4em;
      padding: 15px 0 0 20px;
    }

    .add-post {
      float: right;
    }
  }

  .items {
    display: none;

    .answer {
      background: #fff;
      margin: 20px 0 20px 20px;
      padding: 20px;
    }

    .answer-right {
      background: #d0d0d0;
      margin: 20px 20px 20px 0;
      padding: 20px;
    }
  }
}
