.centered-text {
  text-align: center;
}


#main-content {
  padding: 60px 0 90px;

  .fa {
    color: #444;
  }
}

.alert-box.success a {
  color: #fff;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

#footer-bottom {
  background: none repeat scroll 0% 0% #333;
  bottom: 0;
  padding: 24px 0 10px;
  width: 100%;

  &,
  a {
    color: #666;
  }

  a:hover {
    color: #aaa;
  }

  ul {
    margin-left: 0;

    &.links li {
      display: block;
      float: left;
      font-size: .75rem;
      font-weight: 700;
      margin-right: 2em;
      text-transform: uppercase;
    }

    &.social li {
      display: block;
      float: right;
      list-style: none outside none;
      margin-left: 30px;
    }
  }

  .copyright {
    color: #555;
    margin-bottom: 0;
    margin-top: 20px;
  }
}
