html,
body {
  height: 100%;
}

.procvic {
  background-color: #f4f0ea;
  font-family: 'Open Sans';
  padding-top: 70px;

  #wrap {
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    min-height: 100%;
  }

  #footer {
    background-color: #252e33;
    color: #fff;
    height: 60px;

    a {
      color: #fff;
    }

    .container {
      padding-top: 15px;
    }

    #push {
      height: 60px;
    }
  }
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
