.procvic {
  .login {
    .dropdown-menu {
      border-radius: 4px;
      margin-top: 10px;
      padding: 20px;
    }

    .dropdown-menu:before {
      border-bottom: 7px solid #ccc;
      border-bottom-color: rgba(0, 0, 0, .2);
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      content: ' ';
      display: inline-block;
      position: absolute;
      right: 9px;
      top: -7px;
    }

    .dropdown-menu:after {
      border-bottom: 6px solid #fff;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      content: '';
      display: inline-block;
      position: absolute;
      right: 10px;
      top: -6px;
    }
  }
}
