$navbar-height: 60px;
$navbar-default-bg: #107fc9; // background color of navigation bar
$navbar-default-link-color: #fff;
$navbar-default-border: 0;
$navbar-default-link-active-color: #fff;
$navbar-default-color: #fff;
$navbar-default-link-hover-color: darken($navbar-default-color, 20%);
$dropdown-border: 0;

.procvic {
  .subject {
    .dropdown-toggle,
    .dropdown-toggle:hover {
      background-color: lighten(#0c2d44, 10%);
    }

    .dropdown-menu {
      border-top-color: transparent;
      margin-top: 1px;
    }
  }

  .subject:after,
  .subject:before {
    border-bottom: inset #ececec;
    border-left: inset transparent;
    border-right: inset transparent;
    border-top: inset transparent;
    border-width: 6px;
    bottom: 0%;
    content: ' ';
    height: 0;
    left: 50%;
    margin-bottom: -1px;
    margin-left: -6px;
    pointer-events: none;
    position: absolute;
    width: 0;
  }

  .profile-image {
    float: left;
    left: -10px;
    position: relative;
    top: -10px;
  }
}
