article {
  border-bottom: 1px solid #eee;
  padding: 3rem 0;
  position: relative;

  footer {
    opacity: .3;

    &:hover {
      opacity: 1;
    }

    .author {
      float: right;
    }
  }

  &:last-of-type {
    margin-bottom: 2rem;
  }

  a {
    color: #aaa;
  }
}

@media only screen and (min-width : 500px) {
  article header {
    h1 {
      padding-right: 7rem;
    }

    time {
      position: absolute;
      right: 0;
      top: 4.5rem;
    }
  }
}
