.row {
  max-width: 40rem;
}

#header {
  background: #353a3d;
  margin-bottom: 7px;

  .blog-name {
    color: #fff;
    display: block;
    font-size: 2.5rem;
    padding: 3rem 0;

    &:hover {
      color: #ccc;
    }
  }
}

@media only screen and (max-width : 500px) {
  #header .links {
    text-align: center;

    a {
      color: #fff;
      font-size: 1.4em;
      padding: 1em;

      &.right {
        display: block;
        float: none !important;
        font-size: 1.1em;
        padding: 1rem 0;
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width : 500px) {
  #header .links {
    a {
      background: #fff;
      border-radius: .3rem;
      color: #353a3d;
      margin-bottom: -1.7rem;
      margin-right: .4rem;
      padding: 1rem 1.7rem;

      &.right {
        margin-top: -.9rem;
      }

      &:hover {
        color: #008cba;
      }
    }
  }
}
