h1 {
  color: #fff;
}

h2 {
  font-size: 2em;
}

h3 {
  color: #888;
  font-size: 1.3em;
}


.navigation-bar {
  height: 60px;

  h1 {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
  }

  li a {
    padding: .5em;
  }

  .button.log-in {
    padding: .7em;
  }
}

.hero {
  background: url('../images/presentation/header.jpg') no-repeat 70% 0% #000;
  height: 400px;

  p {
    color: #fff;
  }

  .button.shadow {
    box-shadow: #333 0 0 7px;
  }
}

.categories {
  background: #eee;

  span {
    color: #888;
    display: block;
    float: left;
    padding: 20px 40px;
    text-transform: uppercase;

    i {
      margin-right: 10px;
    }

    &.non-active {
      color: #ccc;
    }
  }
}

.text-information {
  padding: 80px 0;

  img {
    margin-top: 20px;
  }

  &.color {
    background: #f7f7f7;
  }
}

.logo {
  padding: 10px 0 0;
}

.navigation {
  padding: 10px 0 0;
}

.footer-bottom {
  background: none repeat scroll 0% 0% #333;
  bottom: 0;
  padding: 24px 0 10px;
  width: 100%;

  &,
  a {
    color: #666;
  }

  a:hover {
    color: #aaa;
  }

  ul {
    margin-left: 0;

    &.social li {
      display: block;
      float: right;
      list-style: none outside none;
      margin-left: 30px;
    }
  }

  .copyright {
    color: #555;
    margin-bottom: 0;
  }
}

@media (max-width: 40em) {
  #uvod {
    height: auto;

    .logo {
      padding: 30px 0 0 30px;
    }

    .navigation {
      padding-top: 0;
    }

    ul > li {
      display: none;

      &:last-child {
        display: initial;
        margin: 20px 0 0 13%;
        width: 80%;
      }
    }

    .right {
      float: initial !important;
    }
  }

  .hero {
    background: #444;
    height: auto;
  }

  #jak-to-funguje {
    display: none;
  }

  #blog {
    .medium-4 {
      border-top: 1px solid #ccc;
      padding-bottom: 30px;
      padding-top: 30px;
    }
  }

  .text-information {
    padding: 30px 0;
  }

  #kontakt {
    .social li {
      margin-bottom: 10px;
      margin-right: 5%;
    }

    .copyright {
      text-align: center;
    }
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  #uvod {
    .logo {
      padding-left: 10px;
    }

    ul > li {
      display: none;

      &:last-child {
        display: initial;
        margin-right: 8px;
      }
    }
  }

  .hero {
    background-position: -100% 0;

    .medium-6 {
      width: 60%;
    }
  }

  #jak-to-funguje {
    display: none;
  }
}
