$header-font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$paragraph-font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$button-font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
@import '../../bower/foundation/css/foundation.css';

$fa-font-path: '../../bower/font-awesome/fonts';
@import '../../bower/font-awesome/scss/font-awesome';

@import 'homepage';
