<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{include title}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body style="margin: 0; padding: 0; background-color: #f4f0eA;">
        <style type="text/css">
            @import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);
        </style>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">

            <tr>
                <td bgcolor="#107fc9" style="padding: 20px 20px 20px 20px; font-size: 18px; color: #ffffff;">
                    <font face="Open Sans, Arial">Procvič.cz</font>
                </td>
            </tr>

            <tr>
                <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px; font-size: 14px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="padding: 5px 0 10px 0;">
                                <b><font face="Open Sans, Arial">Vážený uživateli,</font></b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <font face="Open Sans, Arial">{include content}</font>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">
                                <font face="Open Sans, Arial">S pozdravem, tým Procvič.cz</font>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#252e33" style="color: #ffffff; padding: 15px 30px 15px 30px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="font-size: 12px;">
                                <font face="Open Sans, Arial">S láskou ke vzdělání od roku 2014</font>
                            </td>
                            <td align="right">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#ffffff" style="padding: 15px 30px 0 30px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="center" style="color: #a0a0a0; font-size: 11px;">
                                <font face="Open Sans, Arial">Nastavení zasílání e-mailů si můžete nastavit v nastavení svého účtu.</font>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" style="color: #a0a0a0; font-size: 10px; padding: 10px 0 0 0;">
                                <font face="Open Sans, Arial">&copy; 2014, 2015</font>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
