{form form}
    <ul class="errors" n:if="$form->hasErrors()" style="color:red;">
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>
    <div class="form-group">
        {label title /}
        {input title, class => 'form-control', placeholder => 'Titulek'}
    </div>
    <div class="form-group">
        {label content /}
        {input content, class => 'form-control', placeholder => 'Obsah',
            data-provide => 'markdown', data-iconlibrary => 'fa', rows => 15}
    </div>
    <div class="form-group">
        {label edit_summary /}
        {input edit_summary, class => 'form-control', placeholder => 'Shrnutí editace'}
    </div>
    {input save, class => 'btn btn-lg btn-success'}
{/form}
