{block title}{_frontend-random-exercise.text.title}{/block}

{block content}
    <h2 class="text-center">{include title}</h2>

    <div class="row" style="margin-top:50px;">
        <div class="col-md-9 col-md-offset-3">
            <div class="panel">
                {$exercise['question']->text|noescape|escape|nl2br}
            </div>
        </div>
    </div>

    <div class="row" n:foreach="$exercise['answers'] as $answer">
        <div class="col-md-3">
            {if $answer->correct}
                <div class="alert alert-success">
                    Správně
                </div>
            {elseif $answerID == $answer->id}
                <div class="alert alert-danger warning">
                    Špatně
                </div>
            {else}
                <div style="height: 60px;">

                </div>
            {/if}
        </div>
        <div class="col-md-9">
            {$answer->text}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <a n:href="RandomExercise:default ,categoryID=>$categoryID" class="btn btn-primary">
                Pokračovat v procvičování
            </a>
        </div>
        <div class="col-md-4 columns end">
            <a n:href="Homepage:default" class="btn btn-primary">
                Ukončit procvičování
            </a>
        </div>
    </div>
{/block}
