{block title}{_frontend-random-exercise.text.title}{/block}

{block content}
    <h2 class="text-center">{include title}</h2>
    <div class="row" style="margin-top:50px;">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel">
            {$exercise['question']->text|noescape|escape|nl2br}
        </div>
    </div>
</div>

<div class="row" style="margin-bottom: 10px;" n:foreach="$exercise['answers'] as $answer">
    <div class="col-md-3">
        <a n:href="RandomExercise:check, exerciseID=>$exercise['question']->id, answerID=>$answer->id, categoryID=>$category" class="btn btn-primary answer">
            Toto je správná odpověď
        </a>
    </div>
    <div class="col-md-6">
        {$answer->text}
    </div>
</div>
