{block title}{$title}{/block}

{block content}
    <h2 class="text-center">{_category.text.title}</h2>
    <h4 class="subheader text-center">{_category.text.subtitle}</h4>

    <div class="row">
        <div class="col-md-12">
            <ul n:inner-foreach="$categories as $category">
                <li style="list-style:none; border-bottom: 1px solid #e0e0e0; margin-bottom: 10px;">
                    <a
                        n:href="RandomExercise:default ,categoryID=>$category['item']->id"
                        style="padding-left:{$category['depth']*30}px;">
                        {$category['item']->name}
                        <span class="pull-right">{$category['item']->count_exercises} {_category.text.exercises}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{/block}
