{block title}Angličtina{/block}

{block content}
    <h2 class="text-center">Angličtina</h2>
    <h4 class="subheader text-center">Nejvíce vyučovaný jazyk v republice</h4>

    <div class="row">
        <div class="col-md-6">
            <h3>Aplikace pro výuku</h3>
            <ul>
                <li><strong><a href="http://www.englishme.cz/">EnglishMe</a></strong>
                    <ul>
                        <li>placené, 66Kč / měsíčně</li>
                        <li>více než 18 000 slovíček</li>
                        <li>skvělý pomocník pro učení slovíček</li>
                    </ul>
                </li>
                <li><strong><a href="https://www.duolingo.com/">Duolingo</a></strong>
                    <ul>
                        <li>zdarma</li>
                        <li>český kurz češtiny do angličtiny zatím v beta provozu</li>
                        <li>
                            <a href="http://static.duolingo.com/s3/DuolingoReport_Final.pdf">nezávislá studie</a>
                            hovořící ve prospěch učení se pomocí aplikace
                        </li>
                    </ul>
                </li>
            </ul>
            <h3>Webové stránky</h3>
            <ul>
                <li><strong><a href="http://www.helpforenglish.cz/">Help for English</a></strong>
                    <ul>
                        <li>zdarma</li>
                        <li>největší množství materiálů ke studiu v českém jazyce</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Pomocné aplikace</h3>
            <ul>
                <li><strong><a href="http://slovnik.seznam.cz/">Slovník od Seznamu</a></strong>
                    <ul>
                        <li>zdarma</li>
                    </ul>
                </li>
                <li><strong><a href="https://translate.google.com/">Překladač od Google</a></strong>
                    <ul>
                        <li>zdarma</li>
                        <li>Pozor! Překlady nejsou dokonalé, ale pouze orientační.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{/block}
