{block title}Matematika{/block}

{block content}
    <h2>Matematika <small>Královna věd</small></h2>

    <div class="row text-center">
        <div class="col-md-3">
            <a n:href="Category:default 6">
                <h4>1. stupeň</h4>
                <h1>ZŠ</h1>
                <img src="../../images/icons/house110.png" style="max-width:107px;opacity:0.7;">
            </a>
        </div>
        <div class="col-md-3">
            <a n:href="Category:default 7">
                <h4>2. stupeň</h4>
                <h1>ZŠ</h1>
                <img src="../../images/icons/house111.png" style="max-width:72px;opacity:0.7;">
            </a>
        </div>
        <div class="col-md-3">
            <a n:href="Category:default 8">
                <h4>&nbsp;</h4>
                <h1>SŠ</h1>
                <img src="../../images/icons/building35.png" style="max-width:106px;opacity:0.7;">
            </a>
        </div>
        <div class="col-md-3">
            <a n:href="Category:default 9">
                <h4>&nbsp;</h4>
                <h1>VŠ</h1>
                <img src="../../images/icons/buildings10.png" style="max-width:100px;opacity:0.7;">
            </a>
        </div>
    </div>
{/block}
