{block title}{_frontend-exercise.add.title}{/block}

{block content}
    <h2 class="text-center">{_newExercises.text.title}</h2>
    <h4 class="subheader text-center">{_frontend-exercise.add.subtitle}</h4>


    {form addExerciseForm}
        <div class="row form-group" style="margin-top:50px;">
            <div class="col-md-12">
                {label category} {_frontend-exercise.add.form_category}
                    {input category, class =>'form-control'}
                {/label}
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-8">
                {label text} {_frontend-exercise.add.form_text}
                    {input text, rows => '10', cols => 88, class => 'form-control live-preview', data-to => 'live-preview-text'}
                {/label}
            </div>
            <div class="col-md-4" data-source="live-preview-text">
                <p>Náhled..</p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-8">
                {label answer_correct} <i class="fa fa-check-square-o"></i> {_frontend-exercise.add.form_answer_correct}
                    {input answer_correct, class => 'form-control live-preview', data-to => 'live-preview-correct'}
                {/label}
            </div>
            <div class="col-md-4" data-source="live-preview-correct">
                <p>Náhled..</p>
            </div>
        </div>
        <div class="row form-group" n:for="$i=1; $i<=3;$i++">
            <div class="col-md-8">
                {label answer_bad_$i} <i class="fa fa-minus-square-o"></i> {_frontend-exercise.add.form_answer_bad}
                    {? $datato = 'live-preview-incorrect' . $i}
                    {input answer_bad_$i, class => 'form-control live-preview', data-to => $datato}
                {/label}
            </div>
            <div class="col-md-4" data-source="live-preview-incorrect{$i}">
                <p>Náhled..</p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
               {label note} {_frontend-exercise.add.form_note}
                   {input note, class => 'form-control', rows => 3, cols => 88}
               {/label}
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                {input send, class => 'btn btn-success'}
            </div>
        </div>
    {/form}
{/block}
