{block title}{_newExercises.text.title}{/block}

{block content}
<p>{$exercise->text}</p>

<h2 class="text-center">Možné odpovědi</h2>
<ul>
    <li n:foreach="$exercise->answers as $answer">{$answer->text}</li>
</ul>
