{block title}Přihlásit se{/block}


{block content}
    <div class="row">
        <h1 class="text-center">{include title}</h1>
        <br />
        <div class="row">
            {control signControl:signIn}
        </div>
    </div>
{/block}
