{block title}Nastavit nové heslo{/block}


{block content}
    {form newPasswordForm}
        <div n:if="$form->hasErrors()" class="alert alert-danger" n:foreach="$form->errors as $error">
            {_$error}
        </div>
        {input email, class => 'form-control'}
        <div class="form-group">
            {label password /}
            {input password, class => 'form-control'}
        </div>
        <div class="form-group">
            {label password_repeat /}
            {input password_repeat, class => 'form-control'}
        </div>
        <div class="form-group">
            {input send, class => 'btn btn-success'}
        </div>
    {/form}
{/block}
