{block title}Zapomenuté heslo{/block}


{block content}
    <div class="row">
        <h1>{include title}</h1>
        <div class="row">
            <p>Pokud jste zapomněli heslo, tak nezoufejte. Není žádný problém ho obnovit.</p>

            {control signControl:passwordRecovery}
        </div>
    </div>
{/block}
