{block title}{_frontend-register.default.title}{/block}


{block content}
    <div class="row">
        <h1 class="text-center">Přidejte se k nám</h1>
        <br />
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">

                    </div>
                </div>

                {control signControl:signUp}
            </div>
        </div>
    </div>
{/block}
