{block title}{_frontend-forgottenPassword.change.title}{/block}

{block body}
<section id="main-login">
    <div data-alert n:foreach="$flashes as $flash" class="alert-box {$flash->type}">
        {$flash->message}
        <a href="#" class="close">&times;</a>
    </div>
    {include content}
</section>
{/block}

{block footer}{/block}

{block content}
<div class="row">
    <h1>{include title}</h1>

    {form changePasswordForm}
        <div data-alert n:if="$form->hasErrors()" class="alert-box alert" n:foreach="$form->errors as $error">
            {_$error}
        </div>
        {input email}

        {label password /}
        {input password}

        {label password_repeat /}
        {input password_repeat}

        {input send, class => 'button'}
    {/form}
    <p>
        <a n:href="Sign:in"><i class="fa fa-user"></i> {_frontend-forgottenPassword.change.sign_in}</a>
        <a n:href="Register:default"><i class="fa fa-user"></i> {_frontend-forgottenPassword.change.register}</a>
    </p>
</div>
