{block title}{_frontend-forgottenPassword.default.title}{/block}

{block body}
<section id="main-login">
    <div data-alert n:foreach="$flashes as $flash" class="alert-box {$flash->type}">
        {$flash->message}
        <a href="#" class="close">&times;</a>
    </div>
    {include content}
</section>
{/block}

{block footer}{/block}

{block content}
<div class="row">
    <h1>{include title}</h1>

    <p>{_frontend-forgottenPassword.default.help_text}</p>

    <form n:name="forgottenPasswordForm">
        <div data-alert n:if="$form->hasErrors()" class="alert-box alert" n:foreach="$form->errors as $error">
            {_$error}
        </div>

        {label email /}
        {input email}

        {input send, class => 'button'}
    </form>
    <p>
        <a n:href="Sign:in"><i class="fa fa-user"></i> {_frontend-forgottenPassword.default.sign_in}</a>
        <a n:href="Register:default"><i class="fa fa-user"></i> {_frontend-forgottenPassword.default.register}</a>
    </p>
</div>
