{extends ../../../templates/@layout.latte}

{block title}
    Vytvořit stránku
{/block}

{block content}
<div class="row large-12 columns large-centered">
    <div class="clearfix">
        <h1>{include title}</h1>
    </div>

    {control pageForm}
</div>
