{extends ../../../templates/@layout.latte}

{block title}
    Upravit: {$page->latestRevision->title}
{/block}

{block content}
    <div class="clearfix">
            <h1 class="pull-left"><i class="fa fa-pencil"></i> {include title}</h1>
            <a class="btn btn-primary pull-right" n:href=":Wiki:Page:show, slug => $page->slug">Zobrazit stránku</a>
        </div>


    {control pageForm}
