{extends ../../../templates/@layout.latte}

{block title}
    Historie: {$page->latestRevision->title}
{/block}

{block content}
    <div class="clearfix">
        <h1 class="pull-left"><i class="fa fa-history"></i> {include title}</h1>
        <a class="btn btn-primary pull-right" n:href=":Wiki:Page:show, slug => $page->slug">Zobrazit stránku</a>
    </div>

    <ul>
        <li n:foreach="$page->revisions as $revision">{$revision->createdAt|date:'j-M-Y'}</li>
    </ul>
