{extends ../../../templates/@layout.latte}

{block title}
    {$page->latestRevision->title}
{/block}

{block content}
    <h1 class="pull-left">{include title}</h1>
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-cog"></i> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a n:href=":Wiki:Page:edit, slug => $page->slug"><i class="fa fa-pencil"></i> Upravit</a></li>
            <li><a n:href=":Wiki:Page:revisions, slug => $page->slug"><i class="fa fa-history"></i> Historie</a></li>
            {*<li><a href="#"><i class="fa fa-flag"></i> Nahlásit</a></li>*}
        </ul>
    </div>

    <div class="clearfix"></div>

    {$page->latestRevision->content|parse|noescape}
