<form n:name="form">
        <ul class="errors" n:if="$form->hasErrors()" style="color:red;">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>
        <label>
            {_frontend-register.default.form_email}
            <input n:name="email">
        </label>

        <label>
            {_frontend-register.default.form_password}
            <input n:name="password">
        </label>

        <label>
            {_frontend-register.default.form_password_repeat}
            <input n:name="password_repeat">
        </label>

        <label>
            Souhlasím s <a href="{plink //Help:termsOfUse}" data-reveal-id="termsOfUse" data-reveal-ajax="true">podmínkami</a>
            <input n:name="agree">
        </label>

        <input n:name="send" class="button">
</form>
