{block title}{_frontend-register.default.title}{/block}

{block body}
<section id="main-login">
    <div data-alert n:foreach="$flashes as $flash" class="alert-box {$flash->type}">
        {$flash->message}
        <a href="#" class="close">&times;</a>
    </div>
    {include content}
</section>
{/block}

{block footer}{/block}

{block content}

<div class="row">
    <h1>{include title}</h1>
    {control registrationForm}
</div>

<p>
    <a n:href="Sign:in"><i class="fa fa-user"></i> {_frontend-register.default.already_registered}</a>
    <a n:href="ForgottenPassword:"><i class="fa fa-unlock-alt"></i> {_frontend-register.default.forgotten_password}</a>
</p>

<div id="termsOfUse" class="reveal-modal medium" data-reveal></div>
