{layout none}

<h1>Podmínky pro používání služby <a href="http://www.procvic.cz">Procvič.cz</a></h1>
<p>Podmínky pro používání služby platí pro výukovou aplikaci nacházející se na adrese <a href="http://www.procvic.cz/app">http://www.procvic.cz/app</a> (dále jen Aplikace) a definují vztah mezi Aplikací a jejími uživateli. Smluvní vztah mezi uživatelem a Aplikací začíná vytvořením uživatelského účtu pomocí registračního formuláře  na adrese <a href="http://www.procvic.cz/app/register">http://www.procvic.cz/app/register</a> (dále jen registrace) a prvním přihlášením do uživatelského účtu.</p>


<h2>1. Způsob používání aplikace</h2>
<p>Uživatel se registrací zavazuje, že se bude řídit platnou legislativou České republiky, potvrzuje že bude brát v potaz základy slušného chování a zároveň nebude svým chováním nijak poškozovat dobré jméno provozovatele Aplikace (popř. Aplikace samotné) nebo uživatelů Aplikace.</p>

<p>Vstup do aplikace (včetně přístupu k osobním informacím) je umožněn pouze přes uživatelské jméno a heslo uživatele. Tyto údaje jsou důvěrné a nepřenosné. Uživatel zodpovídá za uchovávání těchto údajů v tajnosti.</p>

<h3>1.1. Změny v aplikaci</h3>
<p>Provozovatel si vyhrazuje právo kdykoliv rozšiřovat aplikaci o nové funkce a stávající funkce upravovat, měnit i odstraňovat dle svého libovolného uvážení.</p>

<p>Provozovatel si vyhrazuje právo měnit vzhled aplikace.</p>


<h2>2. Ukončení smluvního vztahu</h2>
<p>Ukončení smluvního stavu je možné pouze ukončením existence uživatelského účtu vytvořeném registrací. To je možné po předchozí domluvě (preferována je emailová komunikace). V případě schválení žádosti o zrušení uživatelského účtu bude tato skutečnost potvrzena emailem.</p>


<h2>3. Omezení odpovědnosti</h2>
<p>Provozovatel Aplikace se vzdává jakékoliv odpovědnosti za škody vzniklé přímo či nepřímo používáním Aplikace ani informacemi v Aplikaci uvedenými. Provozovatel negarantuje faktickou správnost informací.</p>


<h2>4. Práva a povinnosti uživatele</h2>
<p>Uživatel nemá právo propůjčovat svůj login a heslo třetím osobám.</p>


<h2>5. Bezpečnost a ochrana informací</h2>
<p>Provozovatel prohlašuje, že veškeré osobní údaje uživatele jsou důvěrné a nebudou jinak zveřejněny či poskytnuty třetí osobě.</p>

<p>Uživatel dává souhlas ke shromažďování informací o své osobě. Uživatel tímto výslovně dává souhlas k uložení emailu, popř. dalších informací. Zároveň uděluje souhlas k zasílání e-mailových zpráv týkajících se Aplikace.</p>

<p>Objednáním předplatného dále uživatel dává souhlas k ukládání informací o svém užívání aplikace (výsledky testování, statistiky apod.), a to pouze pro potřeby uživatele. Provozovatel tyto informace může využít pro zlepšování služeb a další vývoj aplikace. Tyto informace v žádném případě nebudou poskytnuty třetím stranám.</p>


<h2>6. Závěrečná ustanovení</h2>
<p>Tyto obchodní podmínky platí ve znění uvedeném na stránkách provozovatele v den registrace uživatele a prvního vstupu do aplikace. Vytvořením registrace uživatel bez výhrad akceptuje veškerá ustanovení smluvních podmínek a je jimi neodvolatelně vázán. V situacích, které neupravují tyto smluvní podmínky, se vztah uživatele a provozovatele řídí platnými právními úpravami, především Občanským zákoníkem.</p>
