{form passwordSignInForm}
    <ul class="errors" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>
    <div class="form-group">
        {input email, class => 'form-control', placeholder => 'E-mail'}
    </div>
    <div class="form-group">
        {input password, class => 'form-control', placeholder => 'Heslo'}
    </div>

    {input send, class => 'btn btn-block btn-success'}
{/form}
