{form passwordSignUpForm, class => 'form-horizontal'}
    <ul class="errors" n:if="$form->hasErrors()" style="color:red;">
        <li n:foreach="$form->errors as $error">{$error}</li>
    </ul>
    <div class="form-group">
        {label email /}
        {input email, class => 'form-control', placeholder => 'Váš e-mail'}

    </div>
    <div class="form-group">
        {label password /}
        {input password, class => 'form-control', placeholder => 'Heslo'}
    </div>
    <div class="form-group">
        {label password_repeat /}
        {input password_repeat, class => 'form-control', placeholder => 'Heslo znovu (pro kontrolu)'}
    </div>
    <div class="form-group">
        {label agree} Souhlasím s <a href="{plink //Help:termsOfUse}" target="_blank">podmínkami používání služby</a>
            {input agree}
        {/label}
    </div>
    <div class="form-group">
        {input send, class => 'btn btn-block btn-lg btn-success'}
    </div>
{/form}
