{form signRecoveryForm}
    <div n:if="$form->hasErrors()" class="alert alert-danger" n:foreach="$form->errors as $error">
        {_$error}
    </div>
    <div class="form-group">
        {label email}
            {input email, class => 'form-control'}
        {/label}
    </div>
    <div class="form-group">
        {input send, class => 'btn btn-success'}
    </div>
{/form}
