{block title}Procvičte si svoje znalosti{/block}

{block content}
    <h2>{_strings.homepage.title} <small>{_strings.homepage.subtitle}</small></h2>

    <br />
    <br />

    <div class="row text-center">
        <div class="col-md-4">
            <a n:href="Subject:math">
                <i class="fa fa-superscript fa-5x"></i>
                <h3>Matematika</h3>
                <p><em>více než 1 100 příkladů</em></p>
            </a>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <a n:href="Subject:english">
                <i class="fa fa-language fa-5x"></i>
                <h3>Angličtina</h3>
                <p><em>několik zajímavých odkazů</em></p>
            </a>
        </div>
    </div>
{/block}
