{block}
<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">

	<title>{ifset #title}{include title|striptags} | {/ifset}Procvič.cz</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/style.css?version={$gitRevision|truncate:6,''}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700%26subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	{block head}
	{/block}
</head>

<body class="procvic">
    {block body}
        <div id="wrap">
            {block nav}
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" n:href=":Homepage:default"><i class="fa fa-graduation-cap"></i> Procvič.cz</a>
                        </div>

                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown subject">
                                    <a href="#" class="dropdown-toggle" data-hover="dropdown" role="button" aria-expanded="false"><i class="fa fa-superscript fa-lg"></i> Matematika <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a n:href=":Subject:math"><i class="fa fa-superscript"></i> Matematika</a></li>
                                        <li><a n:href=":Subject:english"><i class="fa fa-language"></i> Angličtina</a></li>
                                    </ul>
                                </li>
                                {*<li><a href="#"><i class="fa fa-bullhorn"></i> Poslední aktivita</a></li>*}
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li n:if="$user->isLoggedIn()" class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-hover="dropdown" role="button" aria-expanded="false">{*<img src="http://0.gravatar.com/avatar/eb8b55dea1684ff9587d28b76bb88353?s=40%26d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D40%26r=G" class="img-circle profile-image" />*} {$user->getIdentity()->getDisplayName()} <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a n:href=":Profile:default, userId => $user->getIdentity()->getId()">Profil</a></li>
                                            <li><a n:href=":Profile:edit">Nastavení</a></li>
                                            <li><a n:href="signOut">Odhlásit se</a></li>
                                        </ul>
                                </li>
                                <li n:if="!$user->isLoggedIn()" n:class="$presenter->isLinkCurrent(':Sign:up') ? active">
                                    <a n:href=":Sign:up">Zaregistrovat se</a>
                                </li>
                                <li n:if="!$user->isLoggedIn()"  class="dropdown login">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">Přihlásit se <span class="caret"></span></a>
                                    <div class="dropdown-menu">
                                        {control signControl:signIn}
                                        <p class="text-center"><a n:href=":Sign:recovery">Zapomněl(a) jsem heslo</a></p>
                                    </div>
                                </li>
                            </ul>
                           {* <form class="navbar-form navbar-right" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Hledaný text ..." name="srch-term" id="srch-term">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form> *}
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>
            {/block}
            <div class="container page" role="main">
                <div class="row">
                <div class="col-md-12 main">
                <!-- info about not-verified e-mail -->
                <div n:if="$user->isLoggedIn() && !$user->getIdentity()->verified" class="alert alert-dismissible alert-warning clearfix" role="alert">
                    <p style="padding: 5px 0 0 0;" class="pull-left"><strong>Omlouváme se za vyrušení</strong>, ale stále jste ještě neověřili svůj e-mail.</p>
                    <a class="btn btn-warning pull-right" n:href="Register:resendVerificationEmail, email => $user->getIdentity()->email"><i class="fa fa-repeat"></i> Znovu zaslat ověřovací e-mail</a>
                </div>

                <!-- flash messages -->
                <div n:foreach="$flashes as $flash" class="alert alert-dismissible alert-{$flash->type}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {$flash->message}
                </div>

                {include content}
                </div>
                </div>
            </div>
            <div id="push"></div>
        </div>
    {/block}

    {block footer}
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        S láskou ke vzdělání od roku 2014
                    </div>
                    <div class="col-md-4">
                        <a href="mailto:podpora@procvic.cz">Nahlásit problém</a>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/pages/Procvičcz/314052312105167"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                            <li><a href="https://twitter.com/procviccz"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                            <li><a href="mailto:podpora@procvic.cz"><i class="fa fa-envelope fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {/block}

    {block scripts}
        <script src="{$basePath}/js/application.js?version={$gitRevision|truncate:6,''}"></script>
        <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {/block}
</body>
</html>
